<section class="js-faux-details filter <%= @filtered %>">
  <h2 class="filter__head">Filter by tag</h2>

<%= form_tag(:controller => "needs", :action => "filter") do %>

  <% TagType.all.each do |tag_type| %>

  <div class="form-group">
  <%= label_tag(:tag_id, tag_type.name) %>
    <%= select_tag(
        :tag_id,
        options_from_collection_for_select(tag_type.tags, :id, :name, params[:tag_id]),
        multiple: true,
        class: 'tags form-control',
        'data-module' => 'chosen',
        style: 'width: 100%'
      )
    %>
  </div>
  <% end %>

  <div class="form-group">
    <%= submit_tag("Filter", class: 'btn btn-primary') %>
  </div>

<% end %>
</section>
